<!DOCTYPE html>
<html>
    <title>Contact</title>
    <%- include('./base/head.ejs') %>
    <body>
        <%- include('./base/nav.ejs') %>
        
        <div class="dropdown">
            <h2> You can contact me through these channels below for more details</h2>
        <button class="dropdown-button">
             Quick button
        </button>
           
            <div class="dropdown-menu">
                <li> Phone number: <a href="/"> +234 08065935615 </a> </li>
                <li> Mail: <a href="/">Abdulqadrio@gmail.com</a> </li>
                <li> Facebook: <a href="/">Facebook</a> </li>
                <li> Linkedn: <a href="/">Linkedn</a> </li>
              </div>

           </div>

    <!--        <div class="wrapper">
            <h2>Loads of love</h2>
            <div class="sidebar">
              
              <!-- Sidebar content goes here -->
           <!--  </div>
            <div class="content">
              <h2>Goods</h2>
              <!-- Main content goes here -->
            <!-- </div>
          </div>     -->
      

    </body> 

    <%- include('./base/footer.ejs') %>
</html>

