<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
  <%- include('./base/head.ejs') %>
</head>
<body>
  
  <%- include('./base/nav.ejs') %>
<div class="bg-image"> 
  
</div>



<div class="bg-text">
  <h2 class="global-header">WELCOME</h2>
  <h1> <a href='/lexoduz'> I am Lexoduz </a></h1>  
    <p>And I'm a website Developer</p>
</div>
 
<%- include('./base/footer.ejs') %>
</body>

</html>
