<!DOCTYPE html>
<html lang="en">
<head> 
    <%- include('./base/head.ejs') %>
    <title>Lexoduz</title>
    
  
</head>
<body>
    <%- include('./base/nav.ejs') %>
    <img class="crownny" src="thh.png" alt="Crown Logo">
    <div class="outer">
        <div class="inner">
            <div class="cv">
                <h1> ABDULQUADRI O. ABDULQUADRI  </h1>
                <h2>PERSONAL INFORMATION:</h2>
                <li>Gender: Male       </li>
                <li>Date of Birth: Feb 3rd 1994    </li>
                <li>State of Origin: Kwara state   </li>
                <li>Marital status:  Single  </li>
                <li>Nationality: Nigerian</li>
            
                <H2>OBJECTIVE:</H2>
                <P> To secure a position with a well- established organization and a stable environment that will lead to a lasting relationship and that will enable me the opportunity in utilizing my experience and skills for the organizations growth and also seeking self-development, advancement and improvement while enjoying job satisfaction. </P>
            
                 <H2>EDUCATIONAL BACKGROUND WITH DATES</H2>
                 <li>Rukayat Nusery/ Primary School, Ilorin    1999 – 2005</li>
                 <li> Aiyetoro Ile Comm. Secondary Commercial School
                    2005 – 2011</li>
                 <li>Kwara State Polytechnic, Ilorin ( National Diploma)  2011 – 2013</li>
                  <li>Kwara State polytechnic, Ilorin ( Higher National Diploma)  2015 – 2017</li>
                </div>
        </div>
    </div>

    <%- include('./base/footer.ejs') %>

</body>
</html>