<!DOCTYPE html>
<html>
  <head>
  <title>My Profile</title>
    <%- include('./base/head.ejs') %>
  </head>
    <body>       

      <%- include('./base/nav.ejs') %>

      <div class="profile">

        <div class="slider"></div> <br>
      <div class="proftext">
        <h1>LANGUAGE</h1>
        <li>HTML</li>
        <li>CSS</li>
        <li>JAVASCRIPT</li>
        <li>PYTHON</li>
        <br>
        <h1>DATABASE</h1>
        <li>Mongo DB</li>
        <li>SQL</li>
        <br>
        <h1>FRAMEWORKS</h1>
        <li>ExpressJS</li>
        
      </div>



      </div>
      
      
      

    </body>

    <%- include('./base/footer.ejs') %>
</html>
